.header {
  display: flex;
  justify-content: space-between;
  width: 35%;
  margin-right: 10%;

  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #003399;
}


.logo {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
}
hr {
  width: 80%;

}